
<div>

  <button mat-button [matMenuTriggerFor]="tablas">Tablas</button>
  <mat-menu #tablas="matMenu" xPosition="after">
    <button mat-menu-item  *ngIf="productos==true" (click)="goproductos()">Productos</button>
    <button mat-menu-item  *ngIf="pedidos==true"(click)="gopedidos()">Pedidos</button>
    <button mat-menu-item  *ngIf="clientes==true"(click)="goclientes()">Clientes</button>
    <button mat-menu-item *ngIf="categorias==true" (click)="gocategorias()">Categorias</button>
    <button mat-menu-item *ngIf="empleados==true" (click)="goempleados()">Empleados</button>
  </mat-menu>


</div>
<router-outlet></router-outlet>


