<div class="mat-elevation-z8">

<table mat-table #table [dataSource]="data">
  <ng-container matColumnDef="idProducto">
    <th mat-header-cell *matHeaderCellDef> id_Producto  </th>
    <td mat-cell *matCellDef="let row"> {{row.idProducto}} </td>
  </ng-container>
  <ng-container matColumnDef="idCat">
    <th mat-header-cell *matHeaderCellDef> Categoria </th>
    <td mat-cell *matCellDef="let row"> {{row.idCat}} </td>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> nombre </th>
    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
  </ng-container>
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> precio </th>
    <td mat-cell *matCellDef="let row"> S/{{row.precio|number}} </td>
  </ng-container>
  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef> foto </th>
    <td mat-cell *matCellDef="let row"> <img src="{{row.foto}}"   width="100px" height="100px"> </td>
  </ng-container>
  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef> eliminar </th>
    <td mat-cell *matCellDef="let row">  <button  mat-button value="eliminar" (click)="eliminarProducto(row.idProducto)">eliminar</button></td>
  </ng-container>
  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> editar </th>
    <td mat-cell *matCellDef="let row">  <button (click)="editar(row.idProducto,row.foto,row.codcat,row.nombre,row.precio)" mat-button>editar</button> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>

<button (click)="crear()">Crear Producto</button>

</div>




